.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    text-align: left;
    display: block;
    margin: 15px 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}